<section class="hero">
    <div class="hero-content">
        <h1>A comprehensive platform for <span>reliable</span></h1>
        <h2>opportunities and internships.</h2>
        <p>Get Discovered. Get Hired.</p>
        <div class="buttons">
            <button class="job-seeker">I'm A Job Seeker</button>
            <button class="recruiter">I'm A Recruiter</button>
        </div>
    </div>
    <div class="hero-image">
        <img src="/Images/hero-image.jpeg" alt="Job Seeker Image">
    </div>
</section>