<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    
    <title>Easily</title>

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Easily</a>
        <div class="d-flex">
            <a class="nav-link text-light" href="/">Home</a>
            <a class="nav-link text-light" href="/jobs">Jobs</a>
            <!-- data-toggle="modal" → Tells Bootstrap that this element will trigger a modal.
             data-target="#authModal" → Specifies the id of the modal that should open when this element is clicked. -->
            <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#authModal">Login/Register</a>

            
        </div>
        </div>
    </nav>
    <!-- Login/Register Modal -->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="authModalLabel">Login/Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Tabs for Login/Register -->
          <ul class="nav nav-tabs" id="authTabs">
            <li class="nav-item">
              <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login-form">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="register-tab" data-toggle="tab" href="#register-form">Register</a>
            </li>
          </ul>
          <div class="tab-content mt-3">
            <!-- Login Form -->
            <div class="tab-pane fade show active" id="login-form">
              <form id="loginForm">
                <div class="form-group">
                  <label for="login-email">Email</label>
                  <input type="email" class="form-control" id="login-email" name="email" required>
                </div>
                <div class="form-group">
                  <label for="login-password">Password</label>
                  <input type="password" class="form-control" id="login-password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
              </form>
            </div>
            <!-- Register Form -->
            <div class="tab-pane fade" id="register-form">
              <form id="registerForm">
                <div class="form-group">
                    <label for="register-email">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                  <div class="form-group">
                    <label for="register-email">Email</label>
                    <input type="email" class="form-control" id="register-email" name="email" required>
                  </div>
                  <div class="form-group">
                    <label for="userType">I am a:</label>
                    <select id="userType" name="userType" class="form-control">
                        <option value="seeker">Job Seeker</option>
                        <option value="recruiter">Recruiter</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="register-password">Password</label>
                  <input type="password" class="form-control" id="register-password" name="password" required>
                </div>
                <button type="submit" class="btn btn-success">Register</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="main-div">
        <%-body %>
    </div>

    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>